/*Styles*/
.fela {
    display: none;
}
.bottom {
    background-color:#96E9D7;
}
.numbers {
    color: white;
}
.circle { 
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    border: 3px solid white;
}
.simi {
    transform: rotate(10deg);
}